#navbar {background-color: antiquewhite; width: 200px; position:absolute; top: 1em; right: 2em}

#chat {list-style: none; padding-left: 2px}

#attributeList {list-style: none; padding-left: 2px}

#chatinterface {
    position: absolute; top: 92%; left: 8%; left: 8%; right: 30%;
}

#controller {
    position: absolute; overflow: auto; top: 12%; left: 70%; right: 1%; bottom: 10%;
    background-color: #DDDDDD;
    padding-left: 6px; padding-right: 2px; padding-top: 1px;
}

#header {
    position: absolute; left: 8%; top: 3%
}

.content {
    position: absolute; overflow: auto; top: 12%; bottom: 10%; left: 8%; right: 30%
}

.interface_element {
    display: none
}

.descriptionBlock {
    padding-left: 4px; padding-right: 4px
}