<div id="characterAttributeBlock">

<span class="attributeAdjusters"><button onclick="incrementAttribute('constitution', -1);">-</button>/
<button onclick="incrementAttribute('constitution', 1);">+</button>&nbsp;&nbsp;</span>
<span id="character_constitution"></span> Constitution<br/>

<span class="attributeAdjusters"><button onclick="incrementAttribute('agility', -1);">-</button>/
    <button onclick="incrementAttribute('agility', 1);">+</button>&nbsp;&nbsp;</span>
<span id="character_agility"></span> Agility<br/>

<span class="attributeAdjusters"><button onclick="incrementAttribute('perception', -1);">-</button>/
    <button onclick="incrementAttribute('perception', 1);">+</button>&nbsp;&nbsp;</span>
<span id="character_perception"></span> Perception<br/>

<span class="attributeAdjusters"><button onclick="incrementAttribute('learning', -1);">-</button>/
    <button onclick="incrementAttribute('learning', 1);">+</button>&nbsp;&nbsp;</span>
<span id="character_learning"></span> Learning<br/>

<span class="attributeAdjusters"><button onclick="incrementAttribute('status', -1);">-</button>/
    <button onclick="incrementAttribute('status', 1);">+</button>&nbsp;&nbsp;</span>
<span id="character_status"></span> Status<br/>
<span class="attributeAdjusters"><br/>You have <span id="character_attributePoints"></span> points to spend on abilities.<br/><br/>
<button onclick="submitNewCharacterAttributes();">Done.</button></span>
</div><br/>