<div id="newDescriptionBlock" style="display:none">
    CHARACTER CREATOR<br/>
    Full name:<input type="text" required="true" id="new_fullName"></input><br/>
    Shortened name:<input type="text" required="true" id="new_shortName"></input><br/>
    Description:<input type="text" id="new_description"></input><br/>
    <button onclick="submitNewCharacterName();">Next</button>
</div>

<div id="descriptionBlock">
<span id="characterFullName"></span> (<span id="characterShortName"></span>)<br/>
Description: <span id="characterDescription"></span><br/><br/>
</div>