<!DOCTYPE html>

<html>

<head>
    <title>Welcome to Exemplia</title>
    <%- include('header.ejs'); %>
</head>
<body>
<h1>Exemplia!</h1>
<br/>Let's <a href="play">play</a>!
<%- include('navbar.ejs'); %>
</body>
</html>