<!DOCTYPE html>

<html>

<head>
    <title>Welcome to Exemplia</title>
    <%- include('header.ejs'); %>
</head>
<body>
<h1 id="header">Exemplia!</h1>
<div id="content" style="font-size:large">
<br/>Let's <a href="play">play</a>!<br/><br/>
Or do boring old <a href="admin">work</a>.
</div>
<%- include('navbar.ejs');%>
</body>
</html>