<html>
    <head>
        <title>Log in</title>
        <%- include('header.ejs') %>
    </head>
    <body>
        <h1>Log in to play <i>Exemplia</i></h1>
        <form action="login" method="post">
        <div>
            <label for="username">Name</label>
            <input type="text" id="username" name="username" required /><br/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required /><br/>
            <button type="submit">Log in</button>
        </div>
        </form>

        <%- include('navbar.ejs'); %>
        <p>You have to be logged in to play Exemplia.  If you don't yet have an account, you'll have to <a href="register">register</a> one.</p>
        
    </body>
</html>