<html>
    <head>
        <title>Log in</title>
        <%- include('header.ejs') %>
    </head>
    <body>
        <h1>Log out?  Really??</h1>
        <form method="post" action="logout"><button type="submit">Yes!</button></form>
        <%- include('navbar.ejs'); %>    
    </body>
</html>
