<div id="characterSkillBlock">
You have<span id='new_skillpoints'>12</span> points to spend changing up to six skills.
<ul id="new_skillset">
</ul>
<br/>
<button onclick="submitNewCharacterSkills();">Create!</button>
</div>